{
    "extends": [
        "airbnb",
        "airbnb/hooks",
        "plugin:react-hooks/recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier",
        "prettier/react",
        "prettier/@typescript-eslint"
    ],
    "plugins": [
        "react",
        "prettier",
        "@typescript-eslint",
        "graphql"
    ],
    "rules": {
        "@typescript-eslint/explicit-function-return-type": 0,
        "@typescript-eslint/camelcase": 0,
        "@typescript-eslint/no-empty-function": 0,
        "graphql/template-strings": [
            "error",
            {
                "env": "apollo"
            }
        ],
        "curly": [
            "error",
            "all"
        ],
        "import/no-extraneous-dependencies": 0,
        "import/no-unresolved": 0,
        "import/extensions": 0,
        "prettier/prettier": "error",
        "react/destructuring-assignment": 0,
        "react/jsx-props-no-spreading": 0,
        "react/prop-types": 0,
        "react/self-closing-comp": 1,
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    "jsx",
                    ".ts",
                    ".tsx"
                ]
            }
        ],
        "prefer-destructuring": 0,
        "no-console": 1,
        "no-unused-expressions": [
            "error",
            {
                "allowTernary": true
            }
        ],
        "jsx-a11y/label-has-associated-control": [
            "error",
            {
                "required": {
                    "some": [
                        "nesting",
                        "id"
                    ]
                }
            }
        ],
        "jsx-a11y/label-has-for": [
            2,
            {
                "required": {
                    "some": [
                        "nesting",
                        "id"
                    ]
                }
            }
        ],
        "max-len": [
            "error",
            140,
            {
                "ignorePattern": "^import\\s.+\\sfrom\\s.+;$",
                "ignoreUrls": true
            }
        ]
    },
    "parserOptions": {
        "ecmaVersion": 2019
    },
    "globals": {
        "APP_VERSION": true,
        "AZURE_AUTHORITY": true,
        "AZURE_CLIENT_ID": true,
        "ACTIVITY_PING_INTERVAL": true
    },
    "env": {
        "browser": true,
        "es6": true,
        "jest": true
    },
    "settings": {
        "import/resolver": {
            "webpack": {
                "config": "./webpack.config.js"
            }
        }
    },
    "overrides": [
        {
            "files": [
                "**/*.test.tsx",
                "**/*.stories.tsx"
            ],
            "rules": {
                "@typescript-eslint/no-explicit-any": 0
            }
        }
    ]
}